<h1><%= @person.name %></h1>
<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<%= link_to 'Edit', edit_person_path(@person), :class => "btn btn-info" %>
<%= link_to 'Back', people_path, :class => "btn" %>
