<div class="hero-unit home-intro">
	<h1>Loanager</h1>	
	<p>Your personal loan management system</p>
	<br />
	<br />
	<p>
		<%= link_to "Manage the people you deal with", people_path, :class => "btn btn-primary btn-large" %>
		<%= link_to "Manage your transactions with those people", transactions_path, :class => "btn btn-primary btn-large" %>
		<%= link_to "View Transaction summary", transaction_summary_path, :class => "btn btn-primary btn-large" %>
	</p>
</div>
